@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-shadow: 1px 1px 2px #999, /* Shadow to the right and bottom */
               2px 2px 3px #888, /* More shadow to the right and bottom */
               3px 3px 4px #777; /* Even more shadow to the right and bottom */
  animation: fadeIn 2s;
}



.header, .footer {
  height: 100px;
  background: #ccc;
  color: blueviolet;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

.sidebar {
  width: 300px;
  background: #7a7a7a;
  color: blueviolet;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.component {
  flex: 1;
  background: #eee;
  color: blueviolet;
  transition: background-color 0.5 ease;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.app:hover {
  background: #a1a1a1;
}

.header:hover, .footer:hover {
  background: #c827ce;
}

.main:hover {
  background: #c3c3c3;
}

.sidebar:hover {
  background: #7310c5;
}

.component:hover {
  background: #bda825;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .component {
    width: 100%;
  }
}
